.container {
  margin-bottom: 100px;
}

.jumbotron.default {
  background-color: transparent;
  padding: 4rem 15px;
  box-shadow: none;
}

section.row + .row {
  margin-top: 70px;
}

.component-title {
  font-size: 1.5em;
}

.component {
  margin-top: 30px;
}

.component.buttons .btn {
  margin-left: 15px;
  margin-bottom: 20px;
}

.component.round-btns .btn {
  font-size: 25px;
  height: 45px;
  padding: 0;
  width: 45px;
}

.component.round-btns .btn + .btn {
  margin-left: 30px;
}

.component.dropdown-btn > .dropdown {
  display: inline-block;
  margin-right: 10px;
}

.component.cards > div {
  margin-bottom: 20px;
}

.badge {
  margin: 5px;
}

.component.collapses .btn {
  margin-right: 20px;
}

.component.collapses > div {
  margin-bottom: 20px;
}
